.storeCard{
    width: 22%;
    max-width: 180px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-block: 25px 15px;
    transform-origin: center;
    will-change: transform;

    border: 2px solid rgb(233, 233, 193);
    background: white;
    border-radius: 16px;
    transition: transform 0.3s ease-in-out;


    font-weight: 400;
    font-style: normal;
    overflow: hidden;


    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .name{
            font-size: 1.1rem;
            font-weight: 700;
            margin-bottom: 10px;
            font-family: "Open Sans", sans-serif;
        }

        .location{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            color: rgb(64, 64, 64);
            font-family: "Open Sans", sans-serif;
        }
    }

    &:hover {
        background:  linear-gradient(to bottom, #FFEFBA, #FFFFFF);
        transform: scale(1.025);
        cursor: pointer;

        .info{
            .name{
                color: #00416a;
            }
        }

        .visit{
            .visitText{
                opacity: 1;
                animation: blink 0.3s ease-in-out;
                font-weight: 500;
            }
        }
    }

    .visit{
        .visitText{
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
            font-family: "Special Gothic", sans-serif;
        }
    }
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0.85; }
  }
  
  @media (max-width: 768px) {
    .storeCard{
        width: 40%;
        flex-direction: column;

        .visit{
            .visitText{
                opacity: 1;
                animation: blink 0.3s ease-in-out;
                font-weight: 500;
            }
        }
    }


}