.searchBar{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    input{
        padding: 5px 7px;
        border: none;
        
    }
}