.cartCard{
    width: 80%;
    height: 15%;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2%;

    .cartInfo{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .name{
            font-size: 1.25rem;
        }

        .price{
            font-weight: 700;
        }
    }

    .quantity{
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .quantity-buttons{
            width: 22px;
            height: 22px;
            border-radius: 50%;
            outline: none;
            background-color: transparent;
            border: 1px solid black;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .cartCard{
        height: 22%;
        width: 100%;
    }
}