.productCard{
    width: 22%;
    max-width: 180px;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-block: 15px;
    transform-origin: center;
    will-change: transform;

    border: 2px solid rgb(233, 233, 193);
    background: #00B4DB;
    border-radius: 16px;
    transition: transform 0.3s ease-in-out;

    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;


    .productInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .price{
            font-weight: 700;
            margin-top: 5px;
        }
    }

    &:hover {
        background:  linear-gradient(to bottom, #0083B0, #00B4DB);
        transform: scale(1.025);
        cursor: pointer;

        .productInfo{
            color: white;
        }
    }

    .addToCart{
        background-color: transparent;
        outline: none;
        border: 1px solid black;
        border-radius: 8px;
        width: 80%;
        padding-block: 5%;
        cursor: pointer;

        &:hover{
            transform: scale(1.05);
            background-color:  #00416a;
            color: wheat;
        }
    }
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0.85; }
  }
  